<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Restriction #<%= @restriction.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/restrictions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/restrictions/<%= @restriction.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit restriction
        </a>
      </div>

      <div class="col">
        <a href="/delete_restriction/<%= @restriction.id %>" class="btn btn-block btn-outline-secondary">
          Delete restriction
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @restriction.user.present? %>
          <a href="/users/<%= @restriction.user_id %>">
            <%= @restriction.user.token_calendar %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@restriction.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@restriction.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

